.calendar {
  position: relative;

  & input {
    height: 24px;
    width: 200px;
    font-size: 18px;
  }

  & .calendar-main {
    position: absolute;
    width: 290px;
    background: #f0f0f0;

    & .year-month {
      display: flex;

      & .year,& .month {
        flex: 1;
        text-align: center;
        position: relative;

        &:before {
          content: '<';
          position: absolute;
          left: 10px;
        }

        &:after {
          content: '>';
          position: absolute;
          right: 10px;
        }
      }
    }

    & .week {
      display: flex;

      & .week-item {
        flex: 1;
        text-align: center;
      }
    }

    & .line {
      margin: 5px;
    }

    & .day {
      & .day-item {
        text-align: center;
        width: 14.2%;
        display: inline-block;
      }
    }
  }
}
