.image-container {
  position: relative;
  height: 230px;

  & .image-item {
    position: absolute;
  }
}

.selector-container {
  text-align: center;

  & .selector-item {
    background: #ccc;
    width: 15px;
    height: 15px;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: inline-block;
    margin: 10px 5px;

    &.active {
      background: red;
    }
  }
}


.fade-enter-active, .fade-leave-active {
  transition: all 0.5s ease;
}

.fade-enter {
  transform: translateX(100%)
}

.fade-leave-active {
  transform: translateX(-100%)
}
